*{
    padding: 0px;
    margin:0px;
    font-family: 'Press Start 2P', cursive;
    outline: none;
}

.content1{
    background-color: transparent;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    border-radius:15px;
    box-shadow: 0px 0px 10px 2px;
    width: 40%;
    margin: 10% 0% 0% 10%;
}

h2{
    text-align: center;
    color: rgba(240, 248, 255, 0.808);
    font-size:10xp;
   margin-bottom:10%;
}

h4{
    text-align: center;
    line-height:25px;
    color: rgba(240, 248, 255, 0.808);
}

#start{
    background-color: transparent;
    border:1px solid rgba(255, 255, 255, 0.555);
    cursor: pointer;
    color:transparent;
    font-size:20px;
    font-weight: 700;
    margin-top: 7%;
    padding: 2%;
    width: 35%;
    border-radius:7px;
    animation: mymove 1s infinite ease;
}

@keyframes mymove {
    0% {background-color:transparent;}
    50% {background-color: rgba(255, 0, 0, 0.774);
          color: rgb(240, 248, 255);
         box-shadow:0px 0px 20px 2px red;}
}

#start:hover{
    animation: none;
    background-color: rgba(255, 0, 0, 0.774);
          color: rgb(240, 248, 255);
         box-shadow:0px 0px 20px 2px red ;
}

#start:active{
    transform: translate(1px,1px);
}

/* second page */

#body2{
    background-image: url('../assets/images/bomb\ diffuse.jpg');
    background-size:112%;
    background-repeat: no-repeat;
}

.content2{
    background-color: transparent;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    border-radius:15px;
    box-shadow: 0px 0px 10px 2px;
    width: 40%;
    margin: 8.7% 0% 0% 28.9%;
}

.text{
    color: rgb(240, 248, 255);
    text-align: center;
    margin-top: 6%;
    margin-bottom: 7%;
}

.enter_num{
    border: none;
    background-color: rgb(114, 129, 109);
    box-shadow:inset 0px 0px 4px 1px;
    margin-top: 0.6em;
    margin-left: 165px;
    padding:0.7em;
    width: 36%;
    height: 20px;
    text-align: center;
    border-radius:2px;
    font-weight: 700;
}

.clearAndSubmit{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
}

.clear{
    color: rgb(240, 248, 255);
    background-color:rgba(128, 128, 128, 0.651);
    border-radius:7px;
    border: none;
    margin-top: 7%;
    padding:2%;
    margin-right:10px;
    font-size:15px;
    box-shadow: 0px 0px 6px 2px black;
    cursor: pointer;
}

.Start{
    background-color: transparent;
    border: 1px solid;
    cursor: pointer;
    color:transparent;
    font-size:15px;
    font-weight: 700;
    margin-top: 7%;
    padding: 2%;
    width:100px;
    height: 30px;
    border-radius:7px;
    animation: mymove 1s infinite ease;
}

@keyframes mymove {
    0% {background-color:transparent;}
    50% {background-color: rgba(255, 0, 0, 0.774);
          color: rgb(240, 248, 255);
         box-shadow:0px 0px 10px 2px red ;}
}

.Start:hover{
    animation: none;
    background-color: rgba(255, 0, 0, 0.774);
          color: rgb(240, 248, 255);
         box-shadow:0px 0px 20px 2px red ;
}

.Start:active{
    transform: translate(1px,1px);
}

.clear:active{
    transform: translate(1px,1px);
}

#lives{
    margin-top:4%;
    color: rgb(240, 248, 255);
}

#message{
    margin-top:4%;
    color: rgb(240, 248, 255);
}


/* win game  page */

#body3{
    background-image: url('../assets/images/win.webp');
    background-size: cover;
}

.text-button{
    margin: 25% 0px 0px 35%;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:15px;
    box-shadow: 0px 0px 10px 2px;
    padding: 2%;
}

.text-button button{
    padding: 2%;
    border-radius: 4px;
    border: none;
    color: rgb(240, 248, 255);
    box-shadow: 0px 0px 2px 0.3px rgba(0, 0, 0, 0.76);
    cursor: pointer;
    background-color:rgba(128, 128, 128, 0.404);
}

.text-button button:active{
    transform: translate(1px,1px);
}

/* Mission fail */

.body4{
    background-image: url('../assets/images/loss.png');
    background-size: cover;
}

.textAndbutton{
    margin: 20% 0px 0px 37%;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:15px;
    box-shadow: 0px 0px 10px 2px;
    padding: 2%;
    line-height: 30px;
}

.textAndbutton h2{
    color: rgb(252, 251, 251);
}

.textAndbutton button{
    padding: 2%;
    border-radius: 4px;
    border: none;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 2px 0.3px rgba(0, 0, 0, 0.76);
    cursor: pointer;
    background-color:rgba(128, 128, 128, 0.404)
}

.textAndbutton button:active{
    transform: translate(1px,1px);
}